python-dotenv
fastapi
uvicorn
pyrebase4
firebase_admin
setuptools
google-generativeai
langchain
langchain-openai

# Create environment
    # python -m venv venv

# Activate the virtual environment:
    # venv\Scripts\activate
    # source venv/bin/activate

# Install requiremtn file libraries
    # pip install -r requirements.txt

# server up
    # python3 main.py
